@import '/tmp/user-hellwal/sherlock-colors.css';

:root {
    --accent1: lighter(mix(var(--color3), #FFF, 0.05));
    --accent2: darker(var(--color6));
    --border: darker(var(--accent1));
    --text: lighter(var(--walforeground));

    --error: var(--color6);
    --warning: 55, 100%, 68%;
    --success: 140, 40%, 40%;

    --weather-clear: 210, 60%, 70%;                     /* Clear sky blue */
    --weather-few-clouds: 210, 30%, 85%;                 /* Pale blue with some haze */
    --weather-many-clouds: 220, 0%, 70%;                 /* Soft gray-blue */
    --weather-mist: 60, 10%, 80%;                        /* Foggy pale beige */
    --weather-showers: 200, 10%, 50%;                    /* Desaturated rainy blue */
    --weather-freezing-scattered-rain-storm: 220, 30%, 35%; /* Cold stormy gray-blue */
    --weather-freezing-scattered-rain: 220, 40%, 45%;    /* Chilly wet gray */
    --weather-snow-scattered-day: 200, 40%, 95%;         /* Bright, snowy blue-white */
    --weather-storm: 240, 10%, 20%;                      /* Deep stormy indigo */
    --weather-snow-storm: 210, 20%, 92%;                 /* Snowy light gray-blue */
    --weather-snow-scattered-storm: 210, 10%, 25%;       /* Soft overcast snow blend */
    --weather-showers-scattered: 200, 30%, 65%;          /* Lighter scattered rain */
    --weather-none-available: 0, 0%, 50%;                /* Neutral placeholder gray */
}
/*
--warning: 36, 89%, 52%;
--error: 0, 89%, 59%;
--success: 102, 36%, 53%;
*/


overshoot *,
undershoot *,
overshoot.top,
overshoot.right,
overshoot.bottom,
overshoot.left undershoot.top,
undershoot.right,
undershoot.bottom,
undershoot.left,
.scroll-window>*,
overshoot:backdrop {
    background: none;
    border: none;
    background-color: none;
}


/* General Settings */
* {
    padding: 0px;
    margin: 0px;
    -gtk-secondary-caret-color: var(--walbackground);
    outline-width: 0px;
    outline-offset: 0px;
    outline-style: dashed;
    line-height: 1;
    font-family: "GeistMono Nerd Font";
}

/* Dunno What This Does #1 */
#overlay spinner {
    color: var(--walforeground);
}
#overlay * {
    background: none;
}
.notifications {
    background: none;
}

/* Window Control */
scrolledwindow>viewport,
scrolledwindow>viewport>*,
window {
    background: darker(var(--color1));
}
window {
    color: var(--text);
    border-radius: 15px;
    border: 7px solid var(--border);
}

/* Labels */
label#title {                 /* App Title */
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
}
label#launcher-type {         /* App Subtitle */
  font-style: italic;
  font-weight: 800;
  font-size: 14px;
  color: mix(var(--text), #000, 0.2);
}
label#logo {                  /* Bottom Bar Label */
    color: var(--text);
    font-weight: 800;
    font-size: 16px;
}

/* Dunno why it doesn't work */
.status-bar {
    background-color: var(--border); 
    border-top: 3px solid var(--border);
    padding: 2px 8px 0px 16px;
}
.spinner-disappear {
    animation: vanish-rotate 0.3s ease forwards;
}
.spinner-appear {
    animation: ease-opacity 0.3s ease forwards;
    animation: rotate 0.3s linear infinite;
}

/* Search Bar */
#search-bar {
    outline: none;
    border: none;
    background: none;
    min-height: 40px;
    color: var(--text);
    font-size: 16px;
    font-weight: 800;
    padding-left: 20px;
    background: mix(var(--accent1), var(--walbackground), 0.6);
    border-radius: 10px;
}
#search-bar-holder {
    border-bottom: 5px solid var(--border);
    padding: 3px;
    background: var(--border);
    color: var(--text);
}

/* Search Bar Icon */
#search-icon-holder image {
    transition: 0.1s ease;
}
#search-icon-holder.search image:nth-child(1){
    transition-delay: 0.05s;
    opacity: 1;
}
#search-icon-holder.search image:nth-child(2){
    transform: rotate(-180deg);
    opacity: 0;
}
#search-icon-holder.back image:nth-child(1){
    padding: 10px 11px 10px 11px;
    border-radius: 10px;
    margin-right: 10px;
    background: mix(var(--accent1), var(--walbackground), 0.3);
    opacity: 0;
}
#search-icon-holder.back image:nth-child(2){
    transition-delay: 0.05s;
    opacity: 1;
    padding: 10px 11px 10px 11px;
    border-radius: 10px;
    margin-right: 10px;
    background: mix(var(--accent1), var(--walbackground), 0.3);

}
#search-icon {
    padding: 10px 11px 10px 11px;
    border-radius: 10px;
    margin-right: 10px;
    background: mix(var(--accent1), var(--walbackground), 0.3);
    transition: 0.3s ease;
}
#search-icon:hover {
    padding: 10px 11px 10px 11px;
    border-radius: 10px;
    margin-right: 10px;
    background: mix(var(--accent1), var(--walbackground), 0.6);
}

#search-bar:focus {
    outline: none;
}

/* Search Bar Placeholder Text */
#search-bar placeholder {
    background: transparent;
    background-color: transparent;
    color: var(--text);
    font-weight: 800;
    font-size: 16px;
}

/* Category Bar */
#category-type {
    font-size: 15px;
    font-weight: 800;
    color: mix(var(--text), #000, 0.2);
    opacity: 1;
    padding: 10px 20px 7px 20px;
    background: alpha(var(--border), 0.5);
}

.scrolled-window {
    padding: 10px;
    min-width: var(--width) * 0.8;
}

scrollbar {
    transform: translate(8px, 0px);
    border: none;
    background: none;
}

scrollbar slider {
    background: var(--accent1);
    border: none;
}

image {
    color: white;
}

.tile {
    outline: none;
    min-height: 50px;
    padding: 0px 10px 0px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.tile:hover{
    background: var(--accent2);
}
.tile.animate {
    transform: translateY(20px); 
    opacity: 0;
    animation: fadeInUp 0.2s ease-out forwards;
}
.tile.animate:nth-child(1) { animation-delay: 0.05s; }
.tile.animate:nth-child(2) { animation-delay: 0.1s; }
.tile.animate:nth-child(3) { animation-delay: 0.15s; }
.tile.animate:nth-child(4) { animation-delay: 0.2s; }
.tile.animate:nth-child(5) { animation-delay: 0.25s; }
.tile.animate:nth-child(6) { animation-delay: 0.3s; }
.tile.animate:nth-child(7) { animation-delay: 0.35s; }
.tile.animate:nth-child(8) { animation-delay: 0.4s; }
.tile.animate:nth-child(9) { animation-delay: 0.45s; }
.tile.animate:nth-child(10) { animation-delay: 0.5s; }

.tile #icon {
    margin: 6px;
    padding: 6px;
    background-color: alpha(mix(var(--walforeground), var(--accent1), 0.5), 0.2);
    border-radius: 10px;
}
.tile:selected #icon {
    margin: 6px;
    padding: 6px;
    background-color: alpha(mix(var(--walforeground), var(--accent1), 0.7), 0.5);
    border-radius: 10px;
}

.tile:selected {
    transition: 0.1s ease;
    background-color: alpha(var(--accent1), 0.5);
    outline: none;
    border: none;
}

.tile:selected .tag,
.tag {
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 8px;
    color: var(--walforeground);
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(2,2,2,0.4);
    border: 1px solid alpha(var(--walforeground), 0.5);
    margin-left: 7px;
    background: alpha(var(--accent2), 0.7);
}

.tile:selected .tag-start,
.tag-start {
    background: alpha(var(--accent2), 0.7);
}

.tile:selected .tag-end,
.tag-end {
    background: alpha(var(--success), 1);
}

.tile:focus {
    outline: none;
}

#color-icon-holder{
    border-radius: 50px;
}

/*SHORTCUT*/
#shortcut-holder {
    margin-right: 5px;
    padding: 5px 10px;
    background: mix(var(--accent1), var(--walbackground), 0.5);
    border-radius: 5px;
    border: 3px solid alpha(mix(var(--accent1), var(--walforeground), 0.1), 0.5);
    box-shadow: 0px 0px 6px 0px rgba(15,15,15,1);
    color: var(--text);
}

.tile:selected #shortcut-holder {
    background-color: mix(var(--accent1), var(--walbackground), 0.5);
    color: var(--text);
    box-shadow: 0px 0px 6px 0px rgba(22,22,22,1);
}

#shortcut, #shortcut-modkey{
    background: alpha(var(--walbackground), 0);
    background-color: alpha(var(--walbackground), 0);
    font-size: 12px;
    font-weight: bold;
    color: var(--text);
}
#shortcut-modkey{
    font-size: 12px;
}


/*CALCULATOR*/
.calc-tile {
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    background: var(--accent1);
}
.tile:hover .calc-tile{
  background: none;
}
#calc-tile-quation {
    font-size: 14px;
    color: var(--walforeground);
}
#calc-tile-result {
    font-size: 30px;
    color: var(--walforeground);
}

/*EVENT TILE*/
.tile.tile.event-tile {
    padding: 5px 10px;
}
.tile.event-tile #title-label {
    padding: 2px 0px 7px 5px;
    text-transform: capitalize;
}
.tile.event-tile #time-label{
    font-size: 3rem;
}
#end-time-label {
    color: gray;
}




/* /* BULK TEXT TILE */ */
/* .bulk-text { */
/*     padding-bottom: 10px; */
/*     min-height: 50px; */
/* } */
/**/
/**/
/* #bulk-text-title { */
/*     margin-left: 10px; */
/*     padding: 10px 0px; */
/*     font-size: 10px; */
/*     color: gray; */
/* } */
/**/
/* #bulk-text-content-title { */
/*     font-size: 17px; */
/*     font-weight: bold; */
/*     color: var(--text); */
/*     min-height: 20px; */
/* } */
/**/
/* #bulk-text-content-body { */
/*     font-size: 14px; */
/*     color: var(--text); */
/*     line-height: 1.4; */
/*     min-height: 20px; */
/* } */
/**/
/**/
/**/
/* MPRIS TILE*/
#mpris-icon-holder{
    border-radius: 5px;
}
/*Animation for replacing album covers*/
.image-replace-overlay #album-cover{
    opacity: 1;
    animation: ease-opacity 0.5s forwards;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* /* NEXT PAGE */ */
/* .next_tile { */
/*     color: var(--text); */
/*     background: var(--background); */
/* } */
/* .next_tile #content-body { */
/*     background: var(--background); */
/*     padding: 10px; */
/*     color: var(--text); */
/* } */
/* .raw_text, .next_tile #content-body { */
/*     font-family: 'Fira Code', monospace; */
/*     font-feature-settings: "kern" off; */
/*     font-kerning: None; */
/* } */
/**/
/**/
/* /*Error*/ */
/* .error-tile #scroll-window { */
/*     padding: 10px; */
/*     min-height: 50px; */
/* } */
/**/
/* .error-tile { */
/*     border-radius: 4px; */
/*     padding: 5px 10px 10px 10px; */
/*     color: white; */
/*     border: 1px solid transparent; */
/*     margin-bottom: 10px; */
/* } */
/**/
/* .error-tile * { */
/*     background: transparent; */
/* } */
/**/
/* .error { */
/*     border: 1px solid alpha(var(--error), 0.5); */
/*     background: alpha(var(--error), 0.1); */
/* } */
/**/
/* .warning { */
/*     border: 1px solid alpha(var(--warning), 0.5); */
/*     background: alpha(var(--warning), 0.1); */
/* } */
/**/
/* .error-tile #title { */
/*     padding: 10px; */
/*     font-size: 10px; */
/*     color: gray; */
/* } */
/**/
/* .error-tile #content-title { */
/*     margin-left: 10px; */
/*     font-size: 16px; */
/*     font-weight: bold; */
/*     color: var(--text); */
/* } */
/**/
/* .error-tile #content-body { */
/*     margin-left: 10px; */
/*     font-size: 14px; */
/*     color: var(--text); */
/*     line-height: 1.4; */
/*     color: gray; */
/* } */
/**/
/* @keyframes slide { */
/*     from { */
/*         transform: translate(0px, 0px); */
/*     } */
/**/
/*     to { */
/*         transform: translate(-20px, 0px); */
/*     } */
/* } */
/**/
/* /* WEATHER TILE */ */
/* .weather-tile { */
/*     padding: 0px 20px 0px 10px; */
/*     background: darkgray; */
/*     margin-bottom: 10px; */
/* } */
/* .tile.weather-tile #content-holder{ */
/*     opacity: 0; */
/* } */
/* .tile.weather-tile.weather-animate #content-holder { */
/*     animation: ease-opacity 0.3s forwards; */
/*     transition: background 0.3s ease; */
/*     opacity: 1; */
/* } */
/* .tile.weather-tile.weather-no-animate #content-holder{ */
/*     opacity: 1; */
/* } */
/* .tile.weather-tile #location { */
/*     margin-left: 5px; */
/*     padding: 10px 0px; */
/*     font-size: 10px; */
/* } */
/* .tile.weather-tile #temperature { */
/*     font-size: 30px; */
/* } */
/* .tile.weather-tile #content-holder { */
/*     margin-bottom: 15px; */
/* } */
/**/
/**/
/**/
/**/
/**/
/**/
/* /*WEATHER CLASSES*/ */
/* .tile.weather-tile.weather-clear { */
/*     background: var(--weather-clear); /* Light sky blue */ */
/* } */
/* .tile.weather-tile.weather-clear label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-few-clouds { */
/*     background: var(--weather-few-clouds); /* Very light */ */
/* } */
/* .tile.weather-tile.weather-few-clouds label { */
/*     color: var(--text-alternate); */
/* } */
/**/
/* .tile.weather-tile.weather-many-clouds { */
/*     background: var(--weather-many-clouds); /* Medium-light */ */
/* } */
/* .tile.weather-tile.weather-many-clouds label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-mist { */
/*     background: var(--weather-mist); /* Light beige */ */
/* } */
/* .tile.weather-tile.weather-mist label { */
/*     color: var(--text-alternate); */
/* } */
/**/
/* .tile.weather-tile.weather-showers { */
/*     background: var(--weather-showers); /* Medium-dark blue */ */
/* } */
/* .tile.weather-tile.weather-showers label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-freezing-scattered-rain-storm { */
/*     background: var(--weather-freezing-scattered-rain-storm); */
/* } */
/* .tile.weather-tile.weather-freezing-scattered-rain-storm label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-freezing-scattered-rain { */
/*     background: var(--weather-freezing-scattered-rain); */
/* } */
/* .tile.weather-tile.weather-freezing-scattered-rain label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-snow-scattered-day { */
/*     background: var(--weather-snow-scattered-day); */
/* } */
/* .tile.weather-tile.weather-snow-scattered-day label { */
/*     color: var(--text-alternate); */
/* } */
/**/
/* .tile.weather-tile.weather-storm { */
/*     background: var(--weather-storm); /* Very dark */ */
/* } */
/* .tile.weather-tile.weather-storm label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-snow-storm { */
/*     background: var(--weather-snow-storm); /* Light */ */
/* } */
/* .tile.weather-tile.weather-snow-storm label { */
/*     color: var(--text-alternate); */
/* } */
/**/
/* .tile.weather-tile.weather-snow-scattered-storm { */
/*     background: var(--weather-snow-scattered-storm); /* Still light */ */
/* } */
/* .tile.weather-tile.weather-snow-scattered-storm label { */
/*     color: alpha(var(--text), 0.8); */
/* } */
/**/
/* .tile.weather-tile.weather-showers-scattered { */
/*     background: var(--weather-showers-scattered); */
/* } */
/* .tile.weather-tile.weather-showers-scattered label { */
/*     color: var(--text); */
/* } */
/**/
/* .tile.weather-tile.weather-none-available { */
/*     background: var(--weather-none-available); /* Neutral gray */ */
/* } */
/* .tile.weather-tile.weather-none-available label { */
/*     color: var(--text); */
/* } */
/**/
/**/
/**/
/*ANIMATIONS*/
@keyframes vanish-rotate{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotate(360deg);
    }
    
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
        --start-rotation: 0deg;
    }
    to {
        transform: rotate(360deg);
        --start-rotation: 360deg;
    }

}
@keyframes ease-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
@keyframes slide {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(-20px, 0px);
    }
}

@keyframes fadeInUp {
    from {
        letter-spacing: 1px;
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        letter-spacing: 0px;
        opacity: 1;
        transform: translate(0px);
    }
}


