/*###############################*/
/*### General and Definitions ###*/
/*###############################*/

@import '../../.cache/hellwal/waybar-colors.css';

/* Left Modules */
@define-color apps @color10;
@define-color workspaces-bg mix(lighter(@color15), #FFF, 0.2);
@define-color workspaces darker(@color2);
@define-color window @color2;

/* Center Modules */
@define-color date darker(@color4);
@define-color time darker(@color6);

/* Right Modules */
@define-color tray darker(@color2);

@define-color lang lighter(@color2);
@define-color backlight mix(lighter(@color2), #000, 0.1);
@define-color nightlight mix(lighter(@color2), #000, 0.2);
@define-color sound mix(lighter(@color2), #000, 0.3);
@define-color bluetooth mix(lighter(@color2), #000, 0.4);
@define-color network mix(lighter(@color2), #000, 0.5);
@define-color battery mix(lighter(@color2), #000, 0.6);

@define-color notifications mix(lighter(@color2), #000, 0.7);

/* Extra Colors */
@define-color text-light #FFF;
@define-color text-dark #000;

* {
    /* font-size: 15px; */
    font-family: "GeistMono Nerd Font";
}
window#waybar{
    all: unset;
}
tooltip { 
    background: alpha(@background, 0.7);
    color: @text-light;
    font-weight: bold;
}

@import './style/modules-left.css';
@import './style/modules-center.css';
@import './style/modules-right.css';
