/*******************************************************************************
 * Blossom
 * User                 : TheElevatedOne
 * Theme Repo           : https://github.com/lr-tech/rofi-themes-collection
 *******************************************************************************/

/* Variables */
* {
    font:               "GeistMono Nerd Font Regular 14";
    background-color:   transparent;
    text-color:         @textcolor;
    margin:             0px;
    padding:            0px;
    spacing:            0px;
}

/* Main Window */
window {
    anchor: center;
    location: south;
    width:              40%;
    height:             56%;
    background-color:   @background;
    border-radius:      24px;
    y-offset: -100px;
    border: 4px solid;
    border-color: @border;
}

/*Main Box Inside a Window*/
mainbox {
    // padding: 12px;
}

/**************/
/* SEARCH BOX */
/**************/
inputbar {
    border: 0px solid 0px solid 4px solid 0px solid;
    border-color: @border;
    padding: 12px;
}
/* Prompt Type */
prompt {
    color: @textcolor1;
    padding: 5px 10px;
    margin: 0px 12px 0px 0px;
    background-color: @background2;
    border-radius: 8px;
}
/* Search Input */
entry {
    padding: 5px 10px;
    margin: 0px -10px 0px 0px;
    background-color: @background3;
    border-radius: 8px;
}

/****************/
/* INFO MESSAGE */
/****************/
message {
  background-color: @background1;
  margin: 12px 12px 0px 12px;
  border-radius: 8px;
}
/* Text Box */
textbox {
    padding: 8px 24px;
}

/*****************/
/* ERROR MESSAGE */
/*****************/
error-message {
    background-color: @background1;
    margin: 12px;
    border-radius: 8px;
}
/* Text Box */
textbox {
    padding: 8px 24px;
}

/************/
/* APP LIST */
/************/ 
listview {
    background-color:   transparent;
    margin:     12px 12px 0px 12px;
    lines:      10;
    columns:    2;
    fixed-height: true;
}
/* App */
element {
    padding:        8px 16px;
    spacing:        8px;
    border-radius:  8px;
}
element normal active {
    text-color: @textcolor3;
}
element selected normal, element selected active {
    background-color:   @background6;
    text-color: @textcolor7;
}
/* App Icon */
element-icon {
    size:               1em;
    vertical-align:     0.5;
}
/* App Name */
element-text {
    text-color: inherit;
}

/*****************/
/* MODE SELECTOR */
/*****************/
mode-switcher {
  border: 4px solid 0px solid 0px solid 0px solid;
  border-color: @border;
  margin: 0px 0px;
  padding: 12px;
  spacing: 12px;
}
button {
  background-color: @background2;
  padding: 6px 0px;
  border-radius: 8px;
}
button selected normal {
  border-color: @background7;
  border: 0px solid 0px solid 4px solid 0px solid;
  background-color: @background4;
}
