 /*  __  __           _       _             _____  _       _     _    */
 /* |  \/  |         | |     | |           |  __ \(_)     | |   | |   */
 /* | \  / | ___   __| |_   _| | ___  ___  | |__) |_  __ _| |__ | |_  */
 /* | |\/| |/ _ \ / _` | | | | |/ _ \/ __| |  _  /| |/ _` | '_ \| __| */
 /* | |  | | (_) | (_| | |_| | |  __/\__ \ | | \ \| | (_| | | | | |_  */
 /* |_|  |_|\___/ \__,_|\__,_|_|\___||___/ |_|  \_\_|\__, |_| |_|\__| */
 /*                                                   __/ |           */
 /*                                                  |___/            */

/*###############*/
/*### Systray ###*/
/*###############*/

#custom-lp-tray {
  color: @tray;
  font-size: 20px;
}
#tray{
    padding: 0px 7px;
    background: @tray;
}
#tray window.popup{
  outline-color: rgba(0, 0, 0, 0);
  background: none;
  border: 0px;
  /* background-blend-mode: screen; */
}
#tray window.popup decoration {
  opacity: 0;
}
#tray window.popup menu {
  padding: 5px 5px;
  border: 2px solid @color7;
  border-radius: 10px;
  background: none;
  background-color: alpha(@background, 0.8);
  margin: -50px 0px;
}
#tray window.popup menu menuitem {
  background-color: alpha(@color2, 0.3);
  margin: 2px;
  padding: 7px 0px;
  border-radius: 5px;
  transition: 0.2s ease;
  font-size: 14px;
}
#tray window.popup menu > menuitem:hover {
  background-color: alpha(@color2, 0.5);
  border-radius: 5px;
  margin: 2px;
  padding: 7px 0px;
  font-weight: bold;
  /* border-bottom: 2px solid @color7; */
}
#tray window.popup menu > separator {
  margin: 2px 5px;
  background-color: alpha(@color6, 0.5);
}
#tray window.popup menu > arrow {
  background-color: alpha(@color6, 0.3);
  margin: 2px;
  border-radius: 5px;
}
#tray window.popup menu > arrow:hover {
  background-color: alpha(@color6, 0.5);
}
#tray window.popup menu > arrow.bottom {
  margin: 10px 0px -10px 0px;
}

/*############################*/
/*### Other Simple Configs ###*/
/*############################*/

#custom-lp-lang {
  font-size: 20px;
  background: @tray;
  color: @lang;
}
#language {
  padding: 0px 5px;
  color: @text-light;
  background: @lang;
  font-size: 17px;
  font-weight: bold;
}
#custom-rp-lang {
  font-size: 20px;
  color: @lang;
  background: @backlight;
}
#backlight {
  padding-left: 7px;
  padding-right: 3px;
  color: @text-light;
  font-size: 15px;
  background: @backlight;
}
#custom-rp-backlight {
  font-size: 20px;
  color: @backlight;
  background: @nightlight;
}
#custom-nightlight {
  padding-left: 9px;
  padding-right: 7px;
  color: @text-light;
  background: @nightlight;
  font-size: 15px;
}
#custom-rp-nightlight {
  font-size: 20px;
  color: @nightlight;
  background: @sound;
}
#pulseaudio {
  padding: 0px 7px;
  color: @text-light;
  background: @sound;
  font-size: 15px;
  font-weight: bold;
}
#custom-rp-sound {
  font-size: 20px;
  color: @sound;
  background: @bluetooth;
}
#bluetooth {
    padding: 0px 5px 0px 5px;
    transition: all .3s ease;
    color:@text-light;
    background: @bluetooth;
    font-size: 14px;
}
#custom-rp-bluetooth {
  font-size: 20px;
  color: @bluetooth;
  background: @network;
}
#network {
  padding: 0px 2px 0px 5px;
  transition: all .3s ease;
  color:@text-light;
  background: @network;
  font-size: 13px;
}
#custom-rp-network {
  font-size: 20px;
  color: @network;
  background: @hotspot;
}
#custom-hotspot {
  background: @hotspot;
  font-weight: bold;
  font-size: 15px;
  padding: 0px 0px 0px 7px;
}
#battery.network {
  font-size: 20px;
  color: @hotspot;
  background: @battery;
}

/*###############*/
/*### Battery ###*/
/*###############*/

#battery.main {
    padding: 0px 7px;
    transition: all .3s ease;
    color:@text-light;
    font-size: 15px;
    background: @battery;
}
#battery.main.critical:not(.charging) {
    background: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.rp {
  font-size: 20px;
  color: @battery;
  background: @notifications;
}
#battery.rp.critical:not(.charging) {
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-notification {
    padding: 0px 5px 0px 7px;
    transition: all .3s ease;
    color:@text-light;
    background: @notifications;
    font-size: 15px;
}
#custom-rp-notif {
  font-size: 20px;
  color: @notifications;
}
