.gamelaunch {
  background: none;
}

.scrollable {
  background: alpha(@background, 0.5);
  border: 3px solid @color2;
  border-radius: 15px;
  padding: 10px;
}
.vertical-box {
}
.game-box box {
  padding: 5px;
}
.game-box {transition: 0.3s ease;}
.game-box:hover {
  background: alpha(@color4, 0.5);
}
