[SddmGreeterTheme]
Name=Hyprspace
Description=Space Themed SDDM Theme
Author=keyitdev, TheElevatedOne
Website=https://github.com/Keyitdev/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/black_hole.conf
Screenshot=Previews/black_hole.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=hyprspace
Theme-API=2.0
QtVersion=6
