.gamelaunch {
  background: none;
}

.scrollable {
  background: alpha(#35000e, 0.5);
  border: 3px solid #ce0038;
  border-radius: 15px;
  padding: 10px;
}
.vertical-box {
}
.game-box box {
  padding: 5px;
}
.game-box {transition: 0.3s ease;}
.game-box:hover {
  background: alpha(#b30030, 0.5);
}
