/**
 * @name DiscordRecolor (HyprSpace with Hellwal)
 * @description Allows you to customize Discord's native Color Scheme
 * @author ELEVATED
 */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
	--settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
	--font:				"Noto Sans", "GeistMono Nerd Font";		/*	General Font												*/
	
	--accentcolor: 			150,0,0;			/*	Blurple			-	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		255,125,125;		/*	Boostpink		-	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			0,176,244;			/*	Link Color		-	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		250,166,26;			/*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		59,165,92;			/*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		250,166,26;			/*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		255,100,0;			/*	Danger Color		-	default:	237,66,69		-	hex:	#FF6505		*/
	
	--textbrightest: 255,255,255;
	--textbrighter: 239,239,239;
	--textbright: 226,226,226;
	--textdark: 206,206,206;
	--textdarker: 190,190,190;
	--textdarkest: 176,176,176;
	
	--backgroundaccent: KEY(6).r.s(25), KEY(6).g.s(25), KEY(6).b.s(25);
	--backgroundprimary: KEY(5).rgb_values;
	--backgroundsecondary: KEY(4).rgb_values;
	--backgroundsecondaryalt: KEY(3).rgb_values;
	--backgroundtertiary: KEY(2).rgb_values;
	--backgroundfloating: KEY(1).rgb_values;
}
