/* _______       ____   _____
  |__   __|/\   |  _ \ / ____|
     | |  /  \  | |_) | (___
     | | / /\ \ |  _ < \___ \
     | |/ ____ \| |_) |____) |
     |_/_/    \_|____/|_____/  */

/* Bar Container */

:root {
  --tabs-bg: hsl(var(--hue) var(--sat) calc(var(--lig) - 20));
  --tabs-separator: hsl(var(--hue) var(--sat) calc(var(--lig) - 25));
  --tabs-title: hsl(var(--hue) var(--sat) calc(var(--lig) + 60));
  --tabs-title-inactive: hsl(var(--hue) var(--sat) calc(var(--lig) + 50));
  --tabs-icon: hsl(var(--hue) var(--sat) calc(var(--lig) - 20) / 0.8);
  --tabs-icon-inactive: hsl(var(--hue) var(--sat) calc(var(--lig) - 20) / 0.3);
  --tabs-select-border: hsl(var(--hue) var(--sat) calc(var(--lig) + 50));
  --tabs-select-border-multi: hsl(var(--hue) var(--sat) calc(var(--lig) + 35));
  --tabs-pinned: hsl(var(--hue) var(--sat) calc(var(--lig) + 15));
  --tabs-pinned-inactive: hsl(var(--hue) var(--sat) var(--lig));
  --tabs-normal: hsl(var(--hue) var(--sat) calc(var(--lig) + 5));
  --tabs-normal-inactive: hsl(var(--hue) var(--sat) calc(var(--lig) - 10));
}

/*****************/
/* TAB CONTAINER */
/*****************/
.browser-toolbox-background .toolbar-items { 
  margin-left: -3px !important;
  background-color: var(--tabs-bg) !important;
  padding-bottom: 1px !important;
  border-bottom: 3px solid var(--tabs-separator) !important;
}
arrowscrollbox#pinned-tabs-container {
  margin-inline-end: 0px !important;
}

/* Tab Title Text */
.tab-text:is([selected]) {
  color: var(--tabs-title) !important;
  font-weight: 1000;
  transition: ease 0.3s !important;
  margin-bottom: 2px !important;
}
.tab-text:not([selected]) {
  color: var(--tabs-title-inactive) !important;
  font-weight: 600;
  transition: ease 0.3s !important;
}

/* Activity Icon */
/*  Pinned  */
.tabbrowser-tab:is([pinned]) image.tab-icon-overlay {
  margin: 5px 0px 0px 3px !important;
}
.tabbrowser-tab:not([pinned]) moz-button.tab-audio-button {
  margin: 0px 0px 18px -20px !important;
}
button:is([aria-label="Mute tab"]), button:is([aria-label="Unmute tab"]) {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 100% !important;
  width: 20px !important;
  height: 20px !important;
}
span:is([class=" button-background "]) {
  padding: 0px !important;
  margin: -1.5px 0px 0px -1.5px !important;
}

/* Tab Icon */
/*  Pinned  */
.tabbrowser-tab:is([pinned]):not([selected]) .tab-icon-image {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--tabs-icon-inactive) !important;
  padding: 5px !important;
  margin: 0px -4px 0px -4px !important;
  border-radius: 100px !important;
  transition: ease 0.3s !important;
}
.tabbrowser-tab:is([pinned]):is([selected]) .tab-icon-image {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--tabs-icon) !important;
  padding: 5px !important;
  margin: 0px -4px 2px -4px !important;
  border-radius: 100px !important;
  transition: ease 0.3s !important;
}
/*  Normal  */
.tabbrowser-tab:not([pinned]):not([selected]) .tab-icon-image {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--tabs-icon-inactive) !important;
  padding: 5px !important;
  margin: 0px 4px 0px -2px !important;
  border-radius: 100px !important;
  transition: ease 0.3s !important;
}
.tabbrowser-tab:not([pinned]):is([selected]) .tab-icon-image {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--tabs-icon) !important;
  padding: 5px !important;
  margin: 0px 4px 3px -2px !important;
  border-radius: 100px !important;
  transition: ease 0.3s !important;
}

.tabbrowser-tab:is([multiselected]) .tab-background:is([multiselected]) {
  outline: transparent !important;
  border-bottom: 3px solid var(--tabs-select-border-multi) !important;
}

/* Pinned Tabs */
.tabbrowser-tab:is([pinned]) .tab-background:is([selected]) {
  background-color: var(--tabs-pinned) !important;
  border-bottom: 3px solid var(--tabs-select-border) !important;
  transition: ease 0.2s !important;
}
.tabbrowser-tab:is([pinned]) .tab-background:not([selected]) {
  background-color: var(--tabs-pinned-inactive) !important;
  transition: ease 0.2s !important;
}
/* Normal Tabs */
.tabbrowser-tab:not([pinned]) .tab-background:is([selected]) {
  background-color: var(--tabs-normal) !important;
  border-bottom: 3px solid var(--tabs-select-border) !important;
  transition: ease 0.2s !important;
  & + .tab-content > image.tab-close-button {
    margin-bottom: 3px !important;
  }
}
.tabbrowser-tab:not([pinned]) .tab-background:not([selected]) {
  background-color: var(--tabs-normal-inactive) !important;
  border: none;
  transition: ease 0.2s !important;
  & + .tab-content > image.tab-close-button {
    transition: ease 0.2s !important;
  }
}

tab.tabbrowser-tab:nth-last-of-type(1) {
  margin-right: 3px !important;
}
panel#tab-preview-panel > .tab-preview-text-container {
  background: hsl(var(--hue) var(--sat) calc(var(--lig))) !important;
  border-radius: 5px !important;
  border-bottom: 3px solid hsl(var(--hue) var(--sat) calc(var(--lig) + 30)) !important;
  color: hsl(var(--hue) var(--sat) calc(var(--lig) + 55));
}
/*panel#tab-preview-panel > .tab-preview-thumbnail-container {
  box-sizing: border-box !important;
  border-bottom: 5px solid hsl(from rgb(var(--color1)) h s calc(l / 1.5)) !important;
}*/

/* New Tab Button */
toolbarbutton.toolbarbutton-1#tabs-newtab-button {
  margin: 4px 4px 4px auto !important;
  background-color: var(--tabs-pinned-inactive) !important;
  border-radius: 5px !important;
  border-bottom: 3px solid var(--tabs-select-border-multi) !important;
  transition: 0.3s ease !important;
  & image.toolbarbutton-icon {
    color: var(--tabs-title) !important;
    transition: 0.3s ease !important;
  }
}
toolbarbutton.toolbarbutton-1#tabs-newtab-button:hover {
  background-color: var(--tabs-pinned) !important;
  & image.toolbarbutton-icon {
    color: hsl(var(--hue) var(--sat) calc(var(--lig) - 35)) !important;
    padding: calc(var(--toolbarbutton-inner-padding) - 1px) !important;
    outline-color: transparent !important;
    background-color: transparent !important;
  }
}

toolbarbutton#scrollbutton-down, toolbarbutton#scrollbutton-up {
  background-color: hsl(var(--hue) var(--sat) calc(var(--lig) - 20)) !important;
  padding: 0px 5px !important;
  margin: 0px 0px 0px 0px !important;
  transition: 0.3s ease !important;
  border-radius: 5px;
  &:not([disabled]) {
    cursor: pointer !important;
  }
  & > image {
    color: hsl(var(--hue) var(--sat) calc(var(--lig) + 45))
  }
  &:not([disabled]):hover {
    background-color: hsl(var(--hue) var(--sat) calc(var(--lig) - 10)) !important;
  }
}